/* OVERWRITE BOOTSTRAP */

nav {
    min-height: 100px;
    background-color: rgb(44, 44, 79);
}

nav .col-5 {
    background-color: rgb(44, 44, 79);
}

nav h4 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 100px;
}

.jumbotron,
.about {
    background-color: aquamarine;
}

.jumbotron h2,
.about h3 {
    color: white;
    font-weight: bold;
    padding: 0.5rem 0;
}

.jumbotron h5 {
    color: white;
    padding: 1rem 0;
}

.jumbotron img {
    width: 50%;
}

.jumbotron .col-md-6 {
    margin: auto;
}


.portfolio h3,
.contact h3 {
    color: black;
    font-weight: bold;
    padding: 1rem 0;
}

.portfolio img {
    width: 100%;
    border-radius: 20px;
}

.about p {
    color: white;
    padding: 1rem 5rem;
    text-align: left;
}

.about button {
    background-color: aqua;
    margin-bottom: 2rem;
    color: white;
    border: 2px solid white;
}

.form-contact {
    padding: 1rem 3rem;
}

.form-control,
textarea {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.form-contact button {
    background-color: aqua;
    margin-top: 1rem;
    color: white;
}

footer {
    background-color: rgb(79, 113, 152);
    text-align: center;
    color: white;
}

.fa-brands {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 13px;
}


/* QUERY */
@media (min-width: 768px) {
    .about p {
        color: white;
        padding: 1rem 2rem 2rem 4rem;
    }
}

@media (min-width: 992px) {}


/* debug */
.container {
    border: 1px solid;
}